* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  line-height: 1.6;
}
.container {
  width: 50%;
  margin: auto;
}
.navbar {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar .navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbar-list .nav-item {
  font-size: 1.3rem;
  padding: 2rem 1rem;
  list-style: none;
}
.nav-item .nav-link {
  color: white;
  text-decoration: none;
}

.BlogItem {
  margin: 1rem 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}
.BlogItem img {
  width: 100%;
}
.SingleBlog img {
  /* margin: 1rem; */
  width: 100%;
  /* max-height: 70vh; */
}
.SingleBlog ul,
.SingleBlog ol {
  padding-left: 2rem;
}
@media (max-width: 1024px) {
  .container {
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .container {
    width: 80%;
    margin: auto;
  }

  .BlogItem {
    grid-template-columns: 1fr;
  }
  .BlogItem img {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .BlogItem img {
    width: 60%;
  }
}
